script(type='text/ng-template', id='partials/options.social.leaderboards.html')
  .table-responsive
    table.table.table-striped
      thead
        tr
          th=env.t('name')
          th=env.t('rank')
      tbody
        tr(ng-repeat='user in rankedUsers')
          td
            span(ng-if='user.contributor.admin',popover=env.t('gamemaster'),popover-trigger='mouseenter',popover-placement='right')
              a.label.label-default(ng-class='userLevelStyle(user)', ng-click='clickMember(user._id, true)')
                | {{user.profile.name}}&nbsp;
                span(ng-class='userAdminGlyphiconStyle(user)')
            span(ng-if='!user.contributor.admin')
              a.label.label-default(ng-class='userLevelStyle(user)', ng-click='clickMember(user._id, true)') {{user.profile.name}}
          td {{user.stats.score.overall}}
