{
  "STYLE": {
    "MAIN_COLOR": "#ce1141"
  },
  "PAGES": {
    "FOOTER": "true",
    "USER": {
      "STATS": "true",
      "ACHIEVEMENTS": "true"
    },
    "INVENTORY": {
      "MARKET": "true",
      "QUESTS": "true",
      "TIME_TRAVELERS": "true",
      "SEASONAL_SHOP": "true",
      "MERCHANDISE": "true"
    },
    "SOCIAL": {
      "GUILDS": "true",
      "TAVERN": "true",
      "PARTY": "true",
      "HALL": "true",
      "INBOX": "true",
      "GROUP_PLANS": "true",
      "LEADERBOARDS": "false"
    },
    "DATA": {
      "ALL": "true"
    },
    "HELP": {
      "ALL": "true"
    },
    "EXTRA": {
      "NOTIFICATIONS": "true",
      "SETTINGS": "true",
      "SUBSCRIBE": "true",
      "GEMS": "true",
      "SILVER": "true"
    }
  },
  "GAME": {
    "DROPS": "true",
    "CLASSES": "true",
    "BAILEY": "true",
    "TASKS": "habits todos dailys rewards",
    "TASKS_AGING": "true",
    "EQUIPMENT_TYPES_DISABLED": "",
    "GEM_PURCHASE": "true",
    "LOGIN_INCENTIVE_SET": "1",
    "BACKGROUNDS": {
      "DISABLED_BACKGROUNDS": ""
    },
    "USER": {
      "HEALTH_BAR": "true",
      "PROFILE": {
        "EDIT_DISPLAY_NAME": "true",
        "EDIT_DISPLAY_PHOTO": "true",
        "DISPLAY_PHOTO": "true",
        "PRIVATE_MESSAGE": "true",
        "GIFT_USER": "true"
      },
      "MEMBER_MODAL": {
        "MEMBER_SINCE": "true"
      }
    },
    "TAVERN": {
      "TITLE_STRING": "",
      "DANIEL_NAME_STRING": "",
      "DANIEL_TEXT_STRING": "",
      "CHAT_PLACEHOLDER_STRING": "",
      "REST_AT_INN": "true",
      "RESOURCES": "false",
      "PLAYER_TIERS": "false",
      "MOTERATOR_INFO": "false"
    },
    "INVENTORY": {
      "BATTLE_GEAR_TITLE_STRING": "",
      "COSTUMES": "true"
    },
    "CHALLENGES": {
      "CHALLENGE_TITLE": ""
    },
    "PARTY": {
      "HOME_INVITE": "true"
    },
    "CHAT": {
      "COPY_AS_TODO": "false"
    },
    "LEADERBOARDS": {
      "MENU": "true",
      "TOP_COUNT": "30"
    },
    "TAGS": {
      "EDIT": "true",
      "TITLE_STRING": "comedTagsTitle"
    },
    "TASK_OPTIONS": {
      "TASKS_TITLE": "",
      "HABITS_TITLE": "",
      "EDIT": "true",
      "ADD": "true",
      "FILTER": "true",
      "REWARDS": {
        "HEALTH_POTIONS": "true"
      },
      "SEARCH_ALIGNMENT": "right",
      "TASK_VALUE_IN_TITLE": "false"
    },
  }
}
