{
  "PAGES": {
    "INVENTORY": {
      "MARKET": "true"
    },
    "SOCIAL": {
      "GUILDS": "true"
    }
  },
  "GAME": {
    "DROPS": "true",
    "CLASSES": "true",
    "BAILEY": "true",
    "TASKS": "habits todos dailys rewards",
    "TASKS_AGING": "true",
    "EQUIPMENT_TYPES_DISABLED": "",
    "GEM_PURCHASE": "true"
  }
}
